name: ci

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  test-and-build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
    defaults:
      run:
        working-directory: API

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Cache pip
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: pip-${{ runner.os }}-${{ hashFiles('**/requirements_api.txt') }}

      - name: Install deps
        run: pip install -r requirements_dev.txt

      - name: Run tests
        env:
          DISABLE_WARMUP: "1"
          API_STATIC_KEY: "coall"
          PYTHONPATH: ${{ github.workspace }} 
        run: pytest -q

      # Build & Push vers Docker Hub (change l’org & ajoute secrets)
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3

      - name: Validate DockerHub namespace & tags
        run: |
          NS="${{ toLower(secrets.DOCKERHUB_USERNAME) }}"
          echo "DockerHub namespace (lowercased): $NS"
          if [ -z "$NS" ]; then
            echo "::error::DOCKERHUB_USERNAME secret is empty."
            exit 1
          fi
          # Vérifie que c'est bien en minuscules
          if [ "$NS" != "$(echo "$NS" | tr '[:upper:]' '[:lower:]')" ]; then
            echo "::error::DOCKERHUB_USERNAME doit être en minuscules."
            exit 1
          fi
          echo "Will push tags:"
          echo " - ${NS}/restaurant-api:latest"
          echo " - ${NS}/restaurant-api:${GITHUB_SHA}"

      - name: Login to DockerHub
        if: github.ref == 'refs/heads/main'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Check Docker login (debug)
        if: github.ref == 'refs/heads/main'
        run: docker info 2>/dev/null | grep -i '^ Username' || true

      - name: Build and push
        if: github.ref == 'refs/heads/main'
        uses: docker/build-push-action@v6
        with:
          context: .            
          file: ./API/Dockerfile   
          target: prod   
          push: true
          tags: ${{ env.IMAGE_NAME }}:latest,${{ env.IMAGE_NAME }}:${{ github.sha }}